.products-per-page {
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}

.products-per-page select {
  padding: 4% 5%;
  width: 100%;
  font-size: 0.9rem;
  color: #8a8a8a;
  -webkit-appearance: none;
  background: url(https://i.ibb.co/gtvhPhC/arrow-down.png) no-repeat right center;
  background-position-x: 170px;
  background-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
